ul > li:nth-child(-n + 7) {
  background: none;
  height: 1rem;
  align-items: center;
  padding: 0;
  box-shadow: none;
  border: 0;
}

ul li {
  position: relative;
  display: flex;
  width: 10rem;
  height: 10rem;
  margin: 0.25rem;
  flex-flow: column;
  border-radius: 0.2rem;
  padding: 1rem;
  font-weight: 300;
  font-size: 0.8rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

ul li img {
  position: absolute;
  width: 80%;
}

ul li time {
  z-index: 999;
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
}

.info {
  display: none;
}

ul .today {
  background: #ffffff70;
}
ul .today time {
  font-weight: 800;
}


@media screen and (max-width: 768px) {
  ul li {
    width: 100%;
    height: fit-content;
    padding: 0.5rem;
  }

  ul li time {
    font-size: 1.5rem;
    min-width: 1rem;
    width: 1rem;
    position: relative;
    align-self: center;
    text-align: center;
  }

  .empty-day {
    display: none;
  }

  .day {
    flex-direction: row;
    gap: 1rem;
  }

  .albums > *:first-child:not(:only-child) {
    margin-bottom: 0.5rem;
  }

  .album {
    display: flex;
    gap: 0.5rem;
    align-items: center
  }

  .info {
    display: block;
    font-size: 0.9rem;
  }

  ul .isFutureDate {
    display: none;
  }

  ul li img {
    max-width: 25%;
    position: relative;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  }
}
