@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Poppins", serif;
  background: radial-gradient(circle at center, #eeaeca, #94bbe9);
  will-change: background;
  color: black;
}
